{{>header}}
<div class="user-profile">

    <img id="user-avatar-url" src="{{avatarUrl}}" alt="user-profile">
    <h1>{{username}}</h1>
    <h2>{{email}}</h2>

    <a id="deleteUserButton" href="#/deleteUser/{{_id}}">DELETE USER!</a>

    <p id="user-listings-title">User Memes
    </p>
    <div class="user-meme-listings">
        {{#each memes}}
        <div class="user-meme">
            <a href="#/details/{{_id}}" class="user-meme-title">{{title}}</a>
            <a href="#/details/{{_id}}"> <img class="userProfileImage" src="{{imageUrl}}"></a>

            <div class="user-memes-buttons">
             
                <a href="#/edit/{{_id}}" class="user-meme-btn">Edit</a>
                <a href="#/delete/{{_id}}" class="user-meme-btn">Delete</a>
             
            </div>
        </div>
        {{else}}
        <p class="no-memes">No memes in database.</p>
        {{/each}}
    </div>
</div>
{{>footer}}
